apiVersion: apps/v1
kind: Deployment
metadata:
  name: java
  namespace: default
  labels:
    app: java
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java
  template:
    metadata:
      labels:
        app: java
    spec:
      containers:
      - name: java
        image: saranya/java:75  # <- replace with your Docker image
        ports:
        - containerPort: 8080    # <- replace with your app port
        env:
        - name: ENVIRONMENT
          value: "production"
